@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rich-text-content h1 {
  font-size: 2rem !important;
  font-weight: 800 !important;
  margin-bottom: 1rem !important;
  display: block !important;
}

.rich-text-content h2 {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  margin-bottom: 0.75rem !important;
}

.rich-text-content ul {
  list-style-type: disc !important;
  margin-left: 1.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.rich-text-content ol {
  list-style-type: decimal !important;
  margin-left: 1.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.rich-text-content li {
  margin-bottom: 0.5rem !important;
  display: list-item !important;
}

.rich-text-content strong {
  font-weight: bold !important;
}
